In [1]:
import pandas as pd

In [16]:
pd.read_csv('./pandas/trial_io_1.csv')

       timestamp        tag  duration  package_0  dram_0   core_0  uncore_0
0   1.651066e+09   load_csv  0.063896     563353   63721   333129         0
1   1.651066e+09  load_json  0.385096    3194389  434813  1804073         0
2   1.651066e+09   load_hdf  0.074504     698485   72937   431456         0
3   1.651066e+09   save_csv  0.199523    1819209  124511  1108761         0
4   1.651066e+09  save_json  0.096259     781065   75927   443786      1098
5   1.651066e+09   save_hdf  0.031523     233337   27466   122314       611
6   1.651067e+09   load_csv  0.063179     548888   62439   322814         0
7   1.651067e+09  load_json  0.381093    3269828  434813  1907039      3906
8   1.651067e+09   load_hdf  0.066168     563720   55969   331787         0
9   1.651067e+09   save_csv  0.187967    1675167  114624  1031430       122
10  1.651067e+09  save_json  0.104776     786619   79102   433898      4150
11  1.651067e+09   save_hdf  0.026928     226684   24658   131653         0

In [15]:
pd.read_csv('./pandas/trial_io_1.csv').replace(';', ',', regex=True)
# pd.read_csv('./pandas/trial_io_1.csv').iloc[:, 0].replace(' ','_',regex=True)

   timestamp;tag;duration;package_0;dram_0;core_0;uncore_0
0   1651066411.3602,load_csv,0.063895702362061,563...
1   1651066411.4244,load_json,0.385096073150635,31...
2   1651066411.8108,load_hdf,0.074504375457764,698...
3   1651066411.90012,save_csv,0.199523448944092,18...
4   1651066412.09998,save_json,0.096259117126465,7...
5   1651066412.19673,save_hdf,0.03152322769165,233...
6   1651066563.31176,load_csv,0.06317925453186,548...
7   1651066563.37551,load_json,0.381092548370361,3...
8   1651066563.75791,load_hdf,0.066168069839478,56...
9   1651066563.83815,save_csv,0.187966823577881,16...
10  1651066564.02666,save_json,0.10477614402771,78...
11  1651066564.13209,save_hdf,0.026928424835205,22...

In [22]:
df1 = pd.read_csv('./pandas/trial_1.csv')
df2 = pd.read_csv('./pandas/trial_2.csv')

In [25]:
df1.iloc[0]['package_0']

819822

In [26]:
df1.head()

,timestamp,tag,duration,package_0,dram_0,core_0,uncore_0
0,1.646917e+09,load_csv,0.151205,819822,100708,297179,0
1,1.646917e+09,drop_column,0.056530,185424,25024,13428,244
2,1.646917e+09,concat_dataframes,0.010099,86853,13306,50781,0
3,1.646917e+09,remove_duplicates,0.071514,494140,53771,230163,0
4,1.646917e+09,merge,0.042257,389709,35278,218200,0

In [27]:
categories = ['package_0', 'dram_0', 'core_0', 'uncore_0']