In [1]:
import pandas as pd

In [13]:
# pd.read_csv('./pandas/result_1.csv').replace(';', ',', regex=True)
pd.read_csv('./pandas/result_1.csv').iloc[:, 0].replace(' ','_',regex=True)

0     1646916987.9236016;load_csv;0.1512045860290527...
1     1646916988.075098;drop_column;0.05653047561645...
2     1646916988.256668;concat_dataframes;0.01009869...
3     1646916988.2792363;remove_duplicates;0.0715143...
4     1646916988.3515615;merge;0.042257070541381836;...
5     1646916988.3944545;subset;0.001726627349853515...
6     1646916988.3966825;sample;0.001360177993774414...
7     1646916988.3983006;sample;0.002954244613647461...
8     1646916988.4016862;sample;0.004366397857666016...
9     1646916988.4076552;sum;0.0009198188781738281;8...
10    1646916988.4088182;median;0.001096725463867187...
11    1646916988.4101605;min;0.0003046989440917969;8...
12    1646916988.4106581;max;0.0002658367156982422;0...
13    1646916988.4111032;unique;0.000432252883911132...
Name: timestamp;tag;duration;package_0;dram_0;core_0;uncore_0, dtype: object

In [19]:
df = pd.read_csv('./pandas/trial_1.csv')
df = pd.read_csv('./pandas/trial_2.csv')

In [20]:
df.head()

,timestamp,tag,duration,package_0,dram_0,core_0,uncore_0
0,1.646917e+09,load_csv,0.151205,819822,100708,297179,0
1,1.646917e+09,drop_column,0.056530,185424,25024,13428,244
2,1.646917e+09,concat_dataframes,0.010099,86853,13306,50781,0
3,1.646917e+09,remove_duplicates,0.071514,494140,53771,230163,0
4,1.646917e+09,merge,0.042257,389709,35278,218200,0